<div class="filter">
  <details class="filter__details">
    <summary class="filter__summery">
      <span class="filter__title text__size--14 text__color--black text__weight--600">FILTER</span>
      <span class="filter__icon">
        <svg class="filter__icon-svg w-h-100">
          <use xlink:href="./assets/icons/sprite-svg.svg#filter" />
        </svg>
      </span>
    </summary>
    <ul class="filter__lists">
      <li class="filter__list category">
        <span class="filter__category">
          <a class="category__link text__color--pink text__size--14 text__weight--400" href="">CATEGORY</a>
        </span>
        <ul class="category__lists">
          <li class="category__list">Accessories</li>
          <li class="category__list">Bags</li>
          <li class="category__list">Denim</li>
          <li class="category__list">Hoodies & Sweatshirts</li>
          <li class="category__list">Jackets & Coats</li>
          <li class="category__list">Polos</li>
          <li class="category__list">Shirts</li>
          <li class="category__list">Shoes</li>
          <li class="category__list">Sweaters & Knits</li>
          <li class="category__list">T-Shirts</li>
          <li class="category__list">Tanks</li>
        </ul>
      </li>
      <li class="filter__list blaze">
        <span class="filter__blaze">
          <a class="blaze__link text__color--pink text__size--14 text__weight--400" href="">BRAND</a>
        </span>
        <ul class="blaze__lists">
          <li class="blaze__list">Accessories</li>
          <li class="blaze__list">Bags</li>
          <li class="blaze__list">Denim</li>
          <li class="blaze__list">Hoodies & Sweatshirts</li>
          <li class="blaze__list">Jackets & Coats</li>
          <li class="blaze__list">Polos</li>
          <li class="blaze__list">Shirts</li>
          <li class="blaze__list">Shoes</li>
          <li class="blaze__list">Sweaters & Knits</li>
          <li class="blaze__list">T-Shirts</li>
          <li class="blaze__list">Tanks</li>
        </ul>
      </li>
      <li class="filter__list designer">
        <span class="filter__designer">
          <a class="designer__link text__color--pink text__size--14 text__weight--400 " href="">DESIGNER</a>
        </span>
        <ul class="designer__lists">
          <li class="designer__list">Accessories</li>
          <li class="designer__list">Bags</li>
          <li class="designer__list">Denim</li>
          <li class="designer__list">Hoodies & Sweatshirts</li>
          <li class="designer__list">Jackets & Coats</li>
          <li class="designer__list">Polos</li>
          <li class="designer__list">Shirts</li>
          <li class="designer__list">Shoes</li>
          <li class="designer__list">Sweaters & Knits</li>
          <li class="designer__list">T-Shirts</li>
          <li class="designer__list">Tanks</li>
        </ul>
      </li>
    </ul>
  </details>
</div>