.choice {
  margin-top: 65px;
  &__top {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  &__bottom {
    margin-top: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.h1-16 {
  position: absolute;
  z-index: 1;
  color: #ffffff;
}
