.end {
  margin-top: 95px;
  background-color: #222224;
  width: 100%;
  min-height: 341px;
  padding: 48px 10px 64px 10px;
  height: 100%;
  align-items: center;
  display: flex;

  img {
    width: 44px;
    height: 34px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
  }

  &__item {
    display: flex;
    max-width: 360px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.h2__end {
  margin-top: 28px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}
.p__end {
  width: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  margin-top: 16px;
  padding: 0 25px;
}
