<section class="section brand">
    <div class="brand__container max-width-content w-h-100">
        <div class="brand__left">
            <img class="brand__img" src="./assets/static/images/brand.png" alt="">
        </div>
        <div class="brand__right">
            <div class="brand__title">
                <span></span>
                <h1 class="h1-32">
                    <span class="h1-48">THE BRAND</span> <br>OF LUXERIOUS <span class="pink h1-32">FASHION</span>
                </h1>
            </div>
        </div>
    </div>
</section>