<div class="cart">
  <div class="cart__top">
    <div class="cart__image">
      <img
        class="w-h-100"
        src="../../../assets/static/images/product/Rectangle1.png"
        alt=""
      />
    </div>
    <div class="cart__hover">
      <button class="btn btn__add">
        <svg class="cart__svg w-h-100">
          <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
        </svg>
        <span class="text__color--white text__size--14">Add to Cart</span>
      </button>
    </div>
  </div>
  <div class="cart__bottom">
    <h3 class="cart__title">ELLERY X M'O CAPSULE</h3>
    <p class="cart__description">
      Known for her sculptural takes on traditional tailoring, Australian
      arbiter of cool Kym Ellery teams up with Moda Operandi.
    </p>
    <p class="cart__price">$52.00</p>
  </div>
</div>
