<section class="section choice">
  <div class="choice__top">
    <div class="choice__item">
      <img
        src="./../../../assets/static/images/choice/girl.png.png"
        alt="girl"
      />
      <h1 class="h1-16">30% OFF FOR WOMEN</h1>
    </div>
    <div class="choice__item">
      <img src="./../../../assets/static/images/choice/men.png.png" alt="men" />
      <h1 class="h1-16">HOT DEAL FOR MEN</h1>
    </div>
    <div class="choice__item">
      <img src="./../../../assets/static/images/choice/kid.png.png" alt="kid" />
      <h1 class="h1-16">NEW ARRIVALS FOR KIDS</h1>
    </div>
  </div>
  <div class="choice__bottom"></div>
  <div class="choice__item">
    <img
      src="./../../../assets/static/images/choice/acces.png.png"
      alt="acces"
    />
    <h1 class="h1-16">LUXIROUS & TRENDY ACCESORIES</h1>
  </div>
</div>
</section>
