<section class="section choice">
  <div class="choice__container max-width-content">
    <div class="choice__top">
      <div class="choice__item">
        <img
          class="choice__img"
          src="./../../../assets/static/images/choice/girl.png.png"
          alt="girl"
        />
        <h1 class="h1-16">
          30% OFF <br />
          <span class="pink h1-16">FOR WOMEN</span>
        </h1>
      </div>
      <div class="choice__item">
        <img
          class="choice__img"
          src="./../../../assets/static/images/choice/men.png.png"
          alt="men"
        />
        <h1 class="h1-16">
          HOT DEAL <br />
          <span class="pink h1-16">FOR MEN</span>
        </h1>
      </div>
      <div class="choice__item">
        <img
          class="choice__img"
          src="./../../../assets/static/images/choice/kid.png.png"
          alt="kid"
        />
        <h1 class="h1-16">
          NEW ARRIVALS <br />
          <span class="pink h1-16">FOR KIDS</span>
        </h1>
      </div>
    </div>
    <div class="choice__bottom">
      <div class="choice__item">
        <img
          class="choice__img"
          src="./../../../assets/static/images/choice/acces.png.png"
          alt="acces"
        />
        <h1 class="h1-16">
          LUXIROUS & TRENDY <br />
          <span class="pink h1-16">ACCESORIES</span>
        </h1>
      </div>
    </div>
  </div>
</section>
