<section class="section end">
  <div class="end__container">
    <div class="end__item">
      <img src="./../../../assets/static/images/end/Forma1.png" alt="" />
      <h2 class="h2__end">Free Delivery</h2>
      <p class="p__end">
        Worldwide delivery on all. Authorit tively morph next-generation innov
        tion with extensive models.
      </p>
    </div>
    <div class="end__item">
      <img src="./../../../assets/static/images/end/Forma2.png" alt="" />
      <h2 class="h2__end">Sales & discounts</h2>
      <p class="p__end">
        Worldwide delivery on all. Authorit tively morph next-generation innov
        tion with extensive models.
      </p>
    </div>
    <div class="end__item">
      <img src="./../../../assets/static/images/end/Forma3.png" alt="" />
      <h2 class="h2__end">Quality assurance</h2>
      <p class="p__end">
        Worldwide delivery on all. Authorit tively morph next-generation innov
        tion with extensive models.
      </p>
    </div>
  </div>
</section>
