<section class="section product">
  <div class="product__discription">
    <h2 class="h2pr">Fetured Items</h2>
    <p class="ppr">Shop for items based on what we featured in this week</p>
  </div>
  <div class="product__catalog">
    <div class="product__item">
      @include('../components/cart.html')
    </div>
    <div class="product__item">
      @include('../components/cart.html')
    </div>
    <div class="product__item">
      @include('../components/cart.html')
    </div>
    <div class="product__item">
      @include('../components/cart.html')
    </div>
    <div class="product__item">
      @include('../components/cart.html')
    </div>
    <div class="product__item">
      @include('../components/cart.html')
    </div>
  </div>
  <button class="btn">Browse All Product</button>
</section>