<footer>
  <!-- <div class="footer__top">
    <div class="footer__top__container">
      <div class="footer__top__left">
        <img src="./../../../assets/static/images/footer/avatar.png" alt="" />
        <p class="p__about"></p>
      </div>
      <div class="footer__top__right">
        <div class="footer__discription">
          <h1 class="footer__h1"></h1>
          <p class="footer__text"></p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer__bottom">
    <div class="footer__date">© 2021 Brand All Rights Reserved.</div>
    <div class="footer__icons">
      <img src="./../../../assets/static/images/footer/icons/facebook.png" />
      <img src="./../../../assets/static/images/footer/icons/instagram.png" />
      <img src="./../../../assets/static/images/footer/icons/p.png" />
      <img src="./../../../assets/static/images/footer/icons/twitter.png" />
    </div>
  </div>
</footer>
