<footer class="footer">
  <div class="footer__container max-width-content">
    <div class="footer__top">
      <div class="footer__left">
        <img src="./../../../assets/static/images/footer/avatar.png" alt="" />
        <p class="p__about">
          “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar
          purus condimentum“
        </p>
      </div>
      <div class="footer__right">
        <div class="footer__discription">
          <h1 class="footer__h1">
            SUBSCRIBE <br />
            <span class="footer__span"> FOR OUR NEWLETTER AND PROMOTION </span>
          </h1>
          <div class="footer__forma">
            <input
              class="footer__email"
              type="text"
              placeholder="Enter Your Email"
            />
            <button class="footer__btn">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__date">© 2021 Brand All Rights Reserved.</div>
    <div class="footer__icons">
      <img src="./../../../assets/static/images/footer/icons/facebook.png" />
      <img src="./../../../assets/static/images/footer/icons/instagram.png" />
      <img src="./../../../assets/static/images/footer/icons/p.png" />
      <img src="./../../../assets/static/images/footer/icons/twitter.png" />
    </div>
  </div>
</footer>
