<header class="header">
    <div class="header__container max-width-content">
        <div class="header__left">
            <div class="header__logo">
                <svg class="header__logo-svg w-h-100">
                    <use xlink:href="./assets/icons/sprite-svg.svg#logo"/>
                </svg>
            </div>
            <div class="header__search">
                <svg class="header__search-svg w-h-100">
                    <use xlink:href="./assets/icons/sprite-svg.svg#search"/>
                </svg>
            </div>
        </div>
        <div class="header__right">
            <div class="header__burger">
                <svg class="header__burger-svg w-h-100">
                    <use xlink:href="./assets/icons/sprite-svg.svg#menu"/>
                </svg>
            </div>
            <div class="header__avatar">
                <svg class="header__avatar-svg w-h-100">
                    <use xlink:href="./assets/icons/sprite-svg.svg#avatar"/>
                </svg>
            </div>
            <div class="header__cart">
                <svg class="header__cart-svg w-h-100">
                    <use xlink:href="./assets/icons/sprite-svg.svg#cart"/>
                </svg>
            </div>
        </div>
    </div>
</header>

