// Colors

$main-color: #222222;
$color-white: #ffffff;

$color-1: #222222;
$color-2: #F16D7F;
$color-3: #5d5d5d;


// Fonts

$main-font: 'Lato';

// Other

$transition-time: 0.3s;

$maxWidth: 1140;
$maxWidthContainer: 1140;