// Colors

$main-color: #222222;
$color-white: #ffffff;

$color-1: #222222;
$color-2: #f16d7f;
$color-3: #5d5d5d;
$color-4: #f8f3f4;
$color-5: #636363;
$color-6: #ef5b70;
$color-7: #EBEBEB;

// Fonts

$main-font: "Lato";

// Other

$transition-time: 0.3s;

$maxWidth: 1140;
$maxWidthContainer: 1140;
