@import './fonts';
@import './vars';
@import './mixins';
@import './settings';
@import './classes';

* {
    box-sizing: border-box;
    font-family: $main-font, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

summary::marker {
    content: "";
}

ol, ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0
}



// .wrapper-page {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//     color: $main-color;
//     background-color: $color-1;
// }

@import './parts/pages';
@import './parts/layouts';
@import './parts/components';
@import './parts/ui';

@import './libs';

@import './media';